{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0
  },
  "globals": {
    "document": true
  }
}
